body{
font-family:sans-serif;
background:#111;
color:#eee;
margin:0;
}

header{
position:sticky;
top:0;
background:#000;
padding:10px;
z-index:10;
}

input{
padding:6px;
font-size:16px;
}

.car{
padding:8px;
border-bottom:1px solid #333;
}
